@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "IBM Plex Sans", sans-serif;
    /* font-family: 'poppins', sans-serif; */
}

:root {
    --bo-color: #EF476F;
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --best-color: #ffffff;
    --text-color-2: #000000;
    --span-color: #49ab4d;
}

section {
    min-height: 100vh;
    padding: 5rem 9% 2rem;
}

button {
    cursor: pointer;
}

span {
    background: #49ab4d ;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

/* MENU-ICON */
#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--best-color);
    color: var(--text-color-2);
}

.header {
    background: var(--best-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 6%;
    opacity: 90%;
    /* background: transparent; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

header.sticky {
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color-2);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color-2);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover, .navbar a.active {
    color: var(--span-color);
}
/* MENU-ICON */
#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--span-color);
    cursor: pointer;
    display: none;
}


/* SECTION 1 */

.section1 {
    display: flex;
    align-items: center;
    position: relative;
    background: url(images/important.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 30vh;
}

.section1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background-size: cover;
    filter: blur(5px);
    opacity: 0.9;
    z-index: 1;
}

.section1-content {
    position: relative;
    margin-top: 170px;
    color: white;
    z-index: 2;
}

.section1-content h1 {
    font-size: 6rem;
    margin-bottom: 20px
}

.section1-content p {
    font-size: 3rem;
}

@media (max-width: 768px) { 
    .section1 {
        /* background-position: 0% 10%; */
        min-height: 10vh;
    }

    .section1-content {
        margin-top: 100px;
    }

    .section1-content h1 {
        font-size: 4rem !important;
    }
}

/* SECTION 2 */
.section2-content .sec2-header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: rgb(10, 10, 87);
}

.sec2-hr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin:  0;
}

.hr-1, .hr-2, .hr-3 {
    width: 80%;
    border: none;
    margin: 3px 0;
}

.hr-1 {
    height: 3px;
    background-color: var(--span-color);
}

.hr-2 {
    width: 70%;
    height: 2px;
    background-color: var(--span-color);
}

.hr-3 {
    width: 60%;
    height: 1px;
    background-color: var(--span-color);
}

.section2-body {
    margin-top: 10px;
}

.section2-body  p {
    font-size: 1.6rem;
    margin-top: 10px;
    line-height: 30px;
}

.section2-body h2 {
    font-size: 2rem;
    margin-top: 25px;
}

@media (max-width: 768px) {
    .sec2-header h1 {
        font-size: 3rem !important;
    }
}

/* SECTION 3 */
.section3 {
    background-color: rgb(250, 250, 250);
}

.section3-content h1 {
    font-size: 3.3rem;
    margin-bottom: 10px;
}

.section3-content p, li {
    font-size: 1.6rem;
    margin-bottom: 10px;
    line-height: 20px;
}

#content-h1 {
    margin-top: 50px;
}

/* SECTION LAST  */
.last {
    min-height: 20vh;

    /* background: linear-gradient(10deg, #a1e8dc, #8ebbc9, #87cefa); */
}

.last-logo img {
    border-radius: 100px;
    width: 100px;
    margin-bottom: 20px;
}


.last-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
}

.detail-class{
    margin-bottom: 30px
}

.feeds {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.detail-feed, .school-2 {
    width: 50%;
}

.last-bottom h2 {
    margin-bottom: 20px;
}

.last-bottom p {
    margin-bottom: 10px;
}

.last-bottom a {
    color: rgb(177, 14, 14);
}

@media (max-width: 768px) {
    .last-top {
        font-size: 1.5rem;
        flex-direction: column;
    }
    
    .last-top h1, h2 {
        font-size: 2rem;
    }
    
    .last-detail {
        margin-bottom: 20px;
    }
    
    .detail-feed, .school-2 {
        width: 100%;
    } 
        
    .detail-class {
        margin-bottom: 7px;
    }
    
    .last-bottom h2 {
        margin-bottom: 10px;
    }

}

/* footer  */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: rgb(23, 27, 33);
}

.footer-text, .footer-iconTop {
    position: relative;
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--text-color);
}

.footer-text a {
    color: var(--span-color);
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 1.5rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column-reverse;
}

.footer-text p {
        font-size: 1.2rem;
}

.footer p {
        margin-top: 2rem;
        text-align: center;
}
}

























@media (max-width: 768px) {
    .header {
        background: var(--best-color);
    }

    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--span-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, .2);
        border-radius: 0 0 1rem 1rem;
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--best-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s  ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        transition-delay: .25s;
        left: 0;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
        color: var(--text-color-2);
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
}